
@{
    ViewBag.Title = "Demo";
}
<div>
    <img src="https://tse3.mm.bing.net/th?id=OIP.2GRVviAo4vjuCAb5y2mg8wAAAA&pid=Api&P=0&w=300&h=300" />
    <h1>Marium Sana Mim</h1>
    Undergrad student, AIUB<br>
    <a class="btn btn-default">Intro</a>
    <a class="btn btn-default">Personal Info</a>
    <a class="btn btn-default">Education</a>
    <a class="btn btn-default">Github</a>
</div>