<div>
    <img src="https://portal.aiub.edu/Content/Images/aiub_logo_92x92.png"> <br>
    <h1>Marium Sana</h1>
    Student, CSE <br>
    <b>Email:</b>mariumsana55@gmail.com<br>
    <a class="btn btn-default">Personal Info</a>
    <a class="btn btn-default">Education</a>
    <a class="btn btn-default"  href="https://github.com/MSana0">Github</a>
    <a class="btn btn-default"></a>
</div>